html,body,ul,li,p,h1,h3,h2,h4,h5{
	margin: 0;
	padding: 0;
	list-style:none;
	font-family: "microsoft yahei";
	-webkit-font-smoothing: antialiased;
}
body{
	width:100%;
	max-width: 640px;
	margin: 0 auto;
	min-width: 320px;
}
input[type=text], button, select, textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0px;
}
a,button,input,textarea{-webkit-tap-highlight-color: rgba(255,255,255,0)}
.none{
	display: none;
}
.ellipsis{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.clearfix{
	overflow: hidden;
}
.clearfix:after{
	content: '';
	display: block;
	width:100%;
	clear: both;
}



.head-nav-fiex{
	width:100%;
	background:#009944;
	
}
.head-content{
	width:40%;
	float: left;
	font-size:1rem;
	color:#fff;
	text-indent: 10px;
	text-align: left;
	padding:0% 0;
}
.head-content img{
	width:100%;
}
.head-tools{
	width:50%;
	float: right;
}
.head-tools div{
	box-sizing: border-box;
	width:30%;
	padding:5% 8%;
	margin-right: 1.5%;
	text-align: center;
	float: left;
}


/*登录框和分享*/
.txt_center{
	text-align: center;
}
.mb{
	width:100%;
	max-width: 640px;
	min-width: 320px;
	position: fixed;
	height: 100%;
	z-index: 1200;
	background: rgba(0,0,0,0.8);
}

.login,.share,.Enroll{
	margin: 5% auto;
	width:90%;
}
.login-h{
	background-color: #0fb03d;
	height: 30px;
	padding: 10px 0;
	border-radius: 5px 5px 0 0;
}
.login-c{
	float: left;
	width:50px;
	text-align: center;
}
.login-c img,.exit-h-l img{
	width:30px;
	display: inline-block;
}
.exit-h-l{
	float: right;
	text-align: center;
	width:50px;
}
.login-h-t{
	padding: 0 10px;
	color:#fff;
	height: 30px;
	line-height: 30px;
	font-size:1.2rem;
}

.login-info{
	width:100%;
	background: #fff;
	padding:15px 10px;
	box-sizing: border-box;
}

.user,.pass{
	width:100%;
	padding: 8px 0;
	height: 25px;
	border: 1px solid #c3c3c3;
	border-bottom: none;
}
.pass{
	border-bottom: 1px solid #c3c3c3;
}
.user div:nth-child(1),.pass div:nth-child(1){
	float: left;
	width:50px;
	border-right: 1px solid #eee;
	text-align: center;
	height: 25px;
	
}
.user div img,.pass div img{
	width:20px;
	height:21px;
	vertical-align: top;
	display: inline-block;
}
.user-input{
	padding-left: 51px;
}
input:focus{
	outline: none;
}
.user-input input{
	border: none;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	vertical-align: top;
	box-sizing: border-box;
	padding-left: 10px;
	height: 25px;
}

.login-btns{
	width:100%;
	background: #Fff;
	box-sizing: border-box;
	padding: 0 10px 18px 10px;
	border-radius: 0 0 5px 5px;
}
#regedit,#login{
	float: left;
	width:40%;
	margin: 0 auto;
	padding:3% 0;
	font-size: 1rem;
	color: #fff;
	border-radius: 5px;
	text-align: center;
}
#login{
	background-color: #0bc402;
	margin-left: 6.5%;
}
#regedit{
	background-color:#fc6c0c;
	margin-left: 6.5%;
}
#regedit a{
	text-decoration: none;
	color:#fff;
}


/*分享*/
.share{
	background-color: #Fff;    
	border-radius: 5px;
	padding-bottom: 1px;
}
.share-all{
	background-color: #Fff;
	width:100%;
	padding: 18px 10px;
	box-sizing: border-box;
}
.share-all div{
	float: left;
	box-sizing: border-box;
	padding:1.5%;
	width:20%;
}
.center{
	text-align: center;
}
.share-all div p{
	text-align: center;
	padding-top: 10px;
	margin: 0 -10px;
	color:#e4e4e4;
	font-size: 1rem;
}
.share-all div img{
	width:100%;
}
.share-exit{
	width:80%;
	margin: 0 auto 18px auto;
	text-align: center;
	height:40px;
	font-size:1rem;
	line-height: 40px;
	background: #fc6c0c;
	color: #fff;
	border-radius: 5px;
}


#code_t{
	width:50%;
	left:50%;
	margin-left: -25%;
	position: fixed;
	z-index: 10000000;
}



.baner img{
	width:100%;
	line-height: 0;
	border: none;
	display: block;
}
.posi_relative{
	position: relative;
	width:100%;
}






/*--------------------------------------------------------------------------------------------------*/

.userInfo{
	position: absolute;
	width:90%;
	left:50%;
	margin-left: -45%;
	bottom:30%;
}
.rest{
	float: right;
	width:20%;
}
.userName{
	padding-top: 1%;
	color: #fcd715;
	/*display: table-cell;
	vertical-align: middle;*/
}
.userName a{
	text-decoration: underline;
}

.number{
	position: absolute;
	width:42%;
	left:50%;
	margin-left: -21.3%;
	bottom: 18%;
}
.number div{
	width:28%;
	color:#fff;
	font-size: 1.5rem;
	float: left;text-align: center;
}
.number div:last-child{
	float: right;
}

/*登录
*/
.loginBtns{
	width: 70%;
	position: absolute;
	bottom: 1%;
	left:50%;
	margin-left: -35%;
}
.loginBtns .loginImg{
	float: left;
	width:45%;
}
.zc{
	float: left;
	width:45%;
	margin-left: 10%;
}



.tellME{
	bottom: 17%;
}

.bottomCop{
	bottom: 4.5%;
	width:60%;
	left:50%;
	margin-left: -30%;
}

.bottomCop .zc{
	float: right;
	margin-left: 0;
}
.bottomCop .loginImg{
	padding-top: 2%;
	WIDTH:50%;
}

/*.mb{
	background: rgba(0,0,0,0.8);
	position: fixed;
	top:0;
	width:100%;
	max-width: 640px;
	min-width: 320px;
	height: 100%;
}*/

.content{
	width:90%;
	margin: 0 auto;
	padding:5%;
	border:1px solid #000;
	border-radius:5px;
	box-sizing: border-box;
	background: #c9302f;
	color:#fff;
}
.c_title{
	color:#fcd915;
	font-size: 1.2rem;
	padding-bottom: 3%;
	text-align: center;
}
.c_content{
	line-height: 200%;
}
.c_content img{
	height:2rem;
	vertical-align: middle;
}
.c_btn{
	width:40%;
	margin: 6% auto 1% auto;
}
.c_btn img{
	width:100%;
}

.gz_content{
	overflow-y: scroll;
	letter-spacing: 1px;
}

.cz_content{
	letter-spacing: 1px;
}
.gz_content p,.cz_content p{
	
	padding-right: 3%;
	margin: 5% auto;
}
.tab table{
	border-collapse: collapse;
	text-align: center;
	width:100%;
	font-size: 0.8rem;
}
.mb .tabhead{
	width: 100%;
}
.mb .tabhead li{
	width:19%;
	text-align: center;
	float: left;
	font-size: 0.8rem;
}
.tab table td{
	width:19.5%;
	padding:1% 0;
}
.mb .tabhead li.width{
	width:23%;
}
.tab table td img{
	width:90%;
}
.color{
	color:#fcd915;
}
.scroll{
	overflow-y: scroll;
	padding: 2%;
	box-sizing: border-box;
}


























.share_p{
	width:90%;
	
	margin: 0 auto;
	/*margin-top: 55PX;*/
	/*margin-bottom: 20%;*/
	color:#d6d6d6;
}
.share_p img{
	display: block;
	width:100%;
	line-height: 0;
	border:0;
	
}

#pay-alert .login{
	padding-bottom: 1px;
	background:#fff;border-radius: 5px;
}


.share-exit{
	background: #2a4164;
	color:#fff;
	width:100%;
	position: fixed;
	top:0;
	max-width: 640px;
	text-align: center;
	height:40px;
	font-size:1rem;
	line-height: 40px;
	color: #fff;
}

/*充值*/
.pay-title{
	width:92%;
	box-sizing: border-box;
	padding:3% 0;
	margin: 0 auto;
	margin-bottom: 1%;
	border-bottom: 1px solid #C3C3C3;
		
}
.pay-title div{
	float:left;
	font-size: 1rem;
	padding:5px 0;
}

.pay-title div:nth-child(2){
	color:#ff2a53;
	float: right;
}


.pay_num{
	width: 100%;
	margin: 0 auto;
}
.pay_num table{
	width:100%;
	color: #d6d6d6;
	text-align: center;
}
.pay_num table td{
	border:2px solid #d6d6d6;
	padding:2% 0%;
	font-size: 1rem;
	width:30.3333333%;
}
.pay_num .td_last{
	padding:0;
	position: relative
}
.td_last input{
	width:100%;
	border:none;
	padding: 0;
	margin: 0;
	height:100%;
	font-size: 1rem;
	color: #94b9c1;
	text-align: center;
}
.pay_num .color_active{
	border: 2px solid #c9302f;
	background: #c9302f;
	color:#fff;
}
.user_border{
	margin: 0 auto;
	border-bottom: 1px solid #eee;
	width:94%;
	text-indent: 0;
}
.user_txt{
	width:90%;
	padding-bottom:2%;
	margin: 1% auto;
	font-size: 1rem;
	
}
.pay_way{
	width:94%;
	margin: 1% auto;
	
}
.pay_way ul{
	list-style: none;
	overflow: hidden;
	padding:2% 0;
}

.pay_way ul:after{
	content: '';
	display: block;
	width:100%;
	clear: both;
}
.pay_way ul li{
	float: left;
	width:30%;
	margin-left: 2.5%;
	box-sizing: border-box;
	border:2px solid #60b63c;
}

.txt{
	width:100%;
	margin:  0 auto;
	padding:0% 0% 2% 0%;
}
.rmb{
	width:92%;
	margin: 0 auto;
	/*position: fixed;*/
	/*bottom:0;*/
	margin-bottom: 3%;
	max-width: 640px;
	background: #1AD202;
	
}
.rmb .money{
	padding:4% 0;
	float: left;
	width:70%;
	background: #2c2c2c;
	text-align: center;
	color: #fff;
	font-size: 0.8rem;
}
.rmb .pay{
	width:30%;padding:3% 0;
	text-align: center;
	float: left;
	color: #fff;
	font-size: 1rem;
	background: #c9302f;
}
.userInfo{
	padding:2% 0;
}
.xx p{
	padding:0.5% 0;
}
.txt span{
	color:#c9302f;
	font-size: 1.5rem;
}
.red{
	color:#f00;
}
